autopep8==1.5.6
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
click==7.1.2
Deprecated==1.2.12
dnspython==2.1.0
email-validator==1.1.2
fastapi==0.63.0
fastapi-jwt-auth==0.5.0
h11==0.12.0
httpcore==0.12.3
httpx==0.17.1
httpx-oauth==0.3.5
idna==3.1
makefun==1.11.2
motor==2.3.1
passlib==1.7.4
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.1
PyJWT==1.7.1
pymongo==3.11.3
python-dotenv==0.17.0
python-multipart==0.0.5
rfc3986==1.4.0
six==1.15.0
sniffio==1.2.0
starlette==0.13.6
toml==0.10.2
typing-extensions==3.7.4.3
uvicorn==0.13.4
wrapt==1.12.1
